#search-main {
    border: 0;
}

.bx--overflow-menu-options::after {
    position: relative;
}

.bx--overflow-menu-options[data-floating-menu-direction='bottom']::after {
    height: 0;
}

.bx--overflow-menu-options.bx--overflow-menu-options--open:focus {
    outline: none;
}

.ub-dspl_flex.ub-box-szg_border-box {
}
